.colombianCocina {
    background-color: rgb(228, 203, 67);
    color: black;

    height: fit-content;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 2rem 2rem;
    column-gap: 50px;
}

.colombianCocinaItem {
    max-width: 100%;
    text-align: left;

}

.colombianCocinaSection img {
    max-width: 100%;
    border-radius: 25px;
}

.buttonContainer {
    margin: 3rem 0;
    width: 100%;
    text-align: center;
}

h1 {
    color: black;
    text-align: center;
    font-size: 3rem;
    font-family: "PT Serif", serif;
    font-weight: bold;
    font-style: normal;
}


@media screen and (max-width: 65rem) {
    .colombianCocinaSection {
        background-color: yellow;
        color: black;

        height: fit-content;

        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        justify-items: center;
        align-items: center;
        padding: 2rem 0rem;
    }
}